<!doctype html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Reset Password Tumbaspedia</title>
  <meta name="description" content="Reset Password Email Template.">
  <style type="text/css">
    a:hover {
      text-decoration: underline !important;
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
  <tr>
    <td>
      <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
             align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <a href="" title="logo" target="_blank">
              <img width="60"
                   src="https://res.cloudinary.com/rochmad7/image/upload/v1660786671/skripsi-marketplace/tumbaspedia_logo_exipsr.png"
                   title="logo" alt="logo">
            </a>
          </td>
        </tr>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                   style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0 35px;">
                  <form action="{{url}}" method="post" name="reset-password" id="reset-password">
                    <h1 style="color:#1e1e2d; font-weight:500; margin:10;font-size:32px;font-family:'Rubik',sans-serif;">
                      Masukkan kata sandi baru Anda di Tumbaspedia</h1>
                    <div>
                      <label for="new_password">Kata Sandi Baru</label><input type="password" id="new_password"
                                                                            name="new_password"
                                                                            style="border:1px solid #cecece; border-radius:3px; padding:10px; width:80%; margin: 2px">
                      <img src=
                             "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash-300x240.png"
                           width="4%" height="4%"
                           style="margin-left: -8%;display:inline;
                vertical-align: middle"
                           id="togglePassword">
                    </div>
                    <div>
                      <label for="confirm_password">Konfirmasi Kata Sandi Baru</label><input type="password"
                                                                                           id="confirm_password"
                                                                                           name="confirm_password"
                                                                                           style="border:1px solid #cecece; border-radius:3px; padding:10px; width:80%; margin: 2px">
                      <img src=
                             "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash-300x240.png"
                           width="4%" height="4%"
                           style="margin-left: -8%;display:inline;
                vertical-align: middle"
                           id="togglePasswordTwo">
                    </div>
                    <div>
                      <button type="submit"
                              style="background:#20e277;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">
                        <span>Reset Kata Sandi</span>
                        <span id="loader"></span>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
              &copy; <strong>Tumbaspedia</strong></p>
          </td>
        </tr>
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<script>
  const togglePassword =
    document.querySelector("#togglePassword");
  const togglePasswordTwo =
    document.querySelector("#togglePasswordTwo");

  const new_password = document.querySelector("#new_password");
  const confirm_password = document.querySelector("#confirm_password");

  togglePassword.addEventListener("click", function(e) {

    // Toggle the type attribute
    const type = new_password.getAttribute(
      "type") === "password" ? "text" : "password";
    new_password.setAttribute("type", type);

    // Toggle the eye slash icon
    if (togglePassword.src.match(
      "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash.png")) {
      togglePassword.src =
        "https://media.geeksforgeeks.org/wp-content/uploads/20210917145551/eye.png";
    } else {
      togglePassword.src =
        "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash.png";
    }
  });


  togglePasswordTwo.addEventListener("click", function(e) {

    // Toggle the type attribute
    const type = confirm_password.getAttribute(
      "type") === "password" ? "text" : "password";
    confirm_password.setAttribute("type", type);

    // Toggle the eye slash icon
    if (togglePasswordTwo.src.match(
      "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash.png")) {
      togglePasswordTwo.src =
        "https://media.geeksforgeeks.org/wp-content/uploads/20210917145551/eye.png";
    } else {
      togglePasswordTwo.src =
        "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash.png";
    }
  });
</script>
<!--/100% body table-->
</body>

</html>
