<p>Selamat datang di Tumbaspedia, {{ name }},</p>
<p>Silakan klik link di bawah ini untuk melanjutkan</p>
<p>
  <a href="{{ url }}">Konfirmasi</a>
</p>

<p>Jika Anda tidak meminta email ini, silakan abaikan.</p>
